{
  "bracketSpacing": true,
  "editor.formatOnSave": true,
  "endOfLine": "lf",
  "printWidth": 90,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "none",
  "useTabs": false
}
